# Apache ile yayınlarken tüm istekleri index.php'ye yönlendir.
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

# X-API-Key gibi başlıkların PHP'ye ulaşması için
SetEnvIf X-API-Key "(.*)" HTTP_X_API_KEY=$1
