# Apache ile yayınlarken tüm istekleri index.php'ye yönlendir.
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

# Authorization başlığının PHP'ye ulaşması için
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
